{% extends 'base.html' %}

{% block content %}{% endblock content %}

{% block script %}
  <script>
    const socket = new WebSocket('ws://' + window.location.host + '/notifications/');

    socket.onopen = function open() {
      console.log('Django | WebSockets connection created.');
    };

    socket.onmessage = function (event) {
      const not = JSON.parse(event.data).notification;
	  console.log(not);
	}

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}